<!-- <div class="search-form">
    <%=form_tag digitalprints_path, method: :get, class: "main-form" do %>
        <div class="form-group"> 
            <%=text_field_tag :search, "Search for Digitalprint Category", class: "form-control" %>
        </div>
        <div class="text-center"> 
            <%=submit_tag :search, class:"btn btn-primary" %>
        </div>
    <%end%>
</div>

<% if @digitalprints.nil? || @digitalprints == [] %>

    <h3 class="h3 text-center"> You have not loaded any digitalprints. Get started <%= link_to "here", new_account_path %>! </h3>

<% else %>

    <% @digitalprints.each do |digitalprint| %>

        <div class="card-container text-center">   
            <div class="card text-center">
                <div class="card-header">
                    <h5> <%= digitalprint.kind %> </h5>
                </div>
                <div class="card-body">
                    <p class="card-text"> <%= digitalprint.account %> </p>

                </div>

            </div>
        </div> 
    <% end %>

<% end %> -->
