
<div class="container-fluid padding main-user-show">
    <div class="row text-center">
        <div class="col">
            <h5> Plaform Users [<%=User.total_users%>] </h5>
            <hr class="light">
    
            
            <hr class="light">
            <h5> Email Organizations [<%=Account.email_count %>] </h5>
            <% Account.email_accounts.each do|e| %>
                <li> <%= e.org_name %> </li>
            <% end%>
        
        </div>
    </div>
    <div class="row text-center">
        <% if !current_user %>
            <div class="col-md-6">
                <%= button_to 'SIGN UP', signup_path, method: "get", class:"btn btn-outline-light" %>
            </div>
            <div class="col-md-6"> 
                <%= button_to 'LOGIN', login_path, method: "get", class:"btn btn-outline-light" %>
            </div>
        <% else %>
            <div class="col-md-4">
                <%= button_to 'DIGITALPRINTS', user_accounts_path(current_user), method: "get", class:"btn btn-outline-light" %>
            </div>
            <div class="col-md-4"> 
                <%= button_to 'MY ACCOUNT', user_path(current_user),method: "get", class:"btn btn-outline-light" %>
            </div>
            <div class="col-md-4"> 
                <%= button_to 'LOGOUT', logout_path, method: "get", class:"btn btn-outline-light" %>
            </div>
        <% end %>
    </div>
</div>


<!-- <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag "server4.jpeg" %>
            <div class="carousel-caption">
                <h1 class="display-2"> Valubl</h1>
                <h3> Manage your data </h3>
                <button type="button" class="btn btn-outline-light btn-lg"> VIEW </button>
                <button type="button" class="btn btn-primary btn-lg"> Get started </button>
            </div>
        </div>
        <div class="carousel-item">
            <%= image_tag "background2.png" %>
        </div>
        <div class="carousel-item">
            <%= image_tag "background3.png" %>
        </div>
    </div>
</div> -->