<!DOCTYPE html>
<html>
  <head>
    <title>AppDataPreferenceRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "valubl_logo4.png", size: "180x40"%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if !current_user %>
              <li class="nav-item">
                <%= link_to "SIGN UP", signup_path, class: "nav-link" %> </li>
              <li class="nav-item" >
                <%= link_to "LOGIN", login_path, class: "nav-link" %> </li>
            <% else %>
              <li class="nav-item" >
                <%= link_to "DIGITALPRINT ACCOUNTS", user_accounts_path(current_user), class: "nav-link" %> </li>
                <li class="nav-item" >
                  <%= link_to "MY ACCOUNT", user_path(current_user), class: "nav-link" %> </li>
              <li class="nav-item" >
                <%= link_to "LOGOUT", logout_path, method: :post, class: "nav-link" %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <!-- <footer class="footer sticky-bottom">

      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
            <hr class="light-100">
            <h7> Created with by Jon Chasse </h7>
          </div>
        </div>
      </div>

    </footer> -->

  </body>
</html>
