<h3 class="h3 text-center user-heading"> <%= type_form %> </h3>

<%= form_for @account, html: {class: "main-form"} do |f| %>
    
    <div class="form-group">
        <%= f.text_field :org_name, list: "org_names_autocomplete", placeholder: "Organization", class: "form-control" %>
            <datalist id="org_names_autocomplete">
                <% Account.all.each do |account| %>
                <option value= <%= "#{account.org_name}" %>>
                <% end %>
            </datalist>
    </div>

    <div class="form-group">   
        <%= f.text_field :website, class: "form-control", placeholder: "Website to submit data info requests" %>
    </div>

    <div class="form-group">   
        <%= f.text_field :toll_free_number, class: "form-control", placeholder: "Toll free number for data info requests" %>
    </div>

    <div class="form-group">
      <p class="account-question"> What type of information is associated with your account?  </p>
        <%= f.fields_for :digitalprints do |d| %>
            <%= d.select :kind, @digitalprints, {} , class: "form-control" %>
            <%= d.hidden_field :user_id %>
        <% end %>
    </div>

    <div class="text-center"> 
        <%= f.submit class:"btn btn-primary" %>
    </div

<% end %>