<h3 class="h3 text-center account-form"> <%= type_form %> </h3>

<%= form_for @account, html: {class: "main-form"} do |f| %>
    
    <div class="form-group">
        <%= f.text_field :org_name, list: "org_names_autocomplete" %>
            <datalist id="org_names_autocomplete">
                <% Account.all.each do |account| %>
                <option value= <%= "#{account.org_name}" %>>
                <% end %>
            </datalist>
    </div>

    <div class="form-group">   
        <%= f.text_field :website, class: "form-control", placeholder: "Website" %>
    </div>

    <div class="form-group">   
        <%= f.text_field :toll_free_number, class: "form-control", placeholder: "Contact Phone Number" %>
    </div>

    <div class="form-group"> 
        <%= f.fields_for :digitalprints, html: {class:"btn btn-secondary dropdown-toggle"} do |d| %>
            <%= d.select :kind, @digitalprints %>
        <% end %>
    </div>

    <div class="text-center"> 
        <%= f.submit class:"btn btn-primary" %>
    </div

<% end %>



<!-- 
<%= form_for @account do |f| %>

Select a popular account: <br>
<%= f.collection_select :org_name, Account.all, :id, :org_name %> <br><br>

Or enter in a new account: <br>
  <div>
    <%= f.label :org_name %>
    <%= f.text_field :org_name %>
  </div>

  <div>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div>
    <%= f.label :toll_free_number %>
    <%= f.text_field :toll_free_number %>
  </div>

  <div>
    <%=f.fields_for :digitalprints do |d|%>
        <%=d.label :kind, "Category" %>
        <br>
        <%=d.text_field :kind %>
    <%end%>
</div>

  <div>
    <br/>
    <%= f.submit %>
  </div>

<% end %> -->