<%=render partial: "application/messages", locals: {messages: @messages || [] } %>

<div class="container-fluid padding main-user-show">
    <div class="row text-center">
        <div class="col">
            <h5> Account Information </h5>
            <hr class="light">
            <p> Organization: <br>
                <%= @account.org_name %> </p>
            <p> Website to submit data info requests: <br>
                <%= @account.website %> </p>
            <p> Toll free number for data info requests: <br>
                <%= @account.toll_free_number %> </p>
        
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"> Right to Know </label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2"> Right to Delete </label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3"> Right to Opt Out</label>
                </div>
                <br>
            
            <hr class="light">
            <h5> Associated Digitalprints </h5>
            <% @account.digitalprints.each do|d| %>
                <li> <%= d.kind %> </li>
            <% end%>
        
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <%= button_to 'Edit Account', edit_account_path(@account), method: :get, class:"btn btn-outline-light" %>
        </div>
        <div class="col-md-4"> 
            <%= button_to 'Add Digitalprint', new_account_digitalprint_path(@account), method: :get, class:"btn btn-outline-light" %>
        </div>
        <div class="col-md-4"> 
            <%= button_to 'Delete Account', account_path(@account), method: :delete, class:"btn btn-primary" %> 
        </div>
    </div>
</div>

<h5 class="h5 text-center empty-index"> Add new account <%= link_to "here", new_account_path %>! </h5>